spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/spaceship?serverTimezone=Asia/Seoul
    username: spaceship
    password: team5

  jpa:
    hibernate:
      ddl-auto: update #create update none
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379




jwt:
  header: Authorization
  #HS512 알고리즘을 사용할 것이기 때문에 512bit, 즉 64byte 이상의 secret key를 사용해야 한다.
  #echo 'silvernine-tech-spring-boot-jwt-tutorial-secret-silvernine-tech-spring-boot-jwt-tutorial-secret'|base64
  secret: c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK
  token-validity-in-seconds: 86400

firebase:
  firebaseConfigPath: /firebase.json
  scope: https://www.googleapis.com/auth/cloud-platform
